<div>
    <p><big>Livre :</big></p>
    <ul><%= locals.book.title%><li>Auteur : <a href="/authors/<%=locals.book.author%>"><%= locals.book.author %></a></li><li>Résumé : <%= locals.book.resume%></li><li>ISBN : <%= locals.book.isbn%></li></ul>
    

  
  </div>
  